<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <main class="min-vh-100">
      <h1>Selamat Datang di Money Tracker App</h1>
      <h2>
        Belajar Menerapkan Bootstrap pada Money Tracker App<i class="bi bi-cash-coin ms-2"></i>
      </h2>

      <button class="btn btn-primary">Memulai<i class="bi bi-caret-right ms-2"></i></button>
    </main>
  </body>
</html>
