@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use 'sass:map';

header .navbar {
  padding: 20px 25px;
  max-width: 1400px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    text-transform: lowercase;
    font-size: 1.3rem;
    font-weight: 800;
  }

  .nav-list {
    .nav-items {
      @include mix.floating-object($is-full-height: true);
      width: 75vw;
      padding: 40px 20px;
      background-color: white;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      transition: 0.35s ease-in-out;
      transform: translateX(-100%);
      opacity: 1;

      animation: disappear 0.5s ease-in-out;

      &.active {
        transform: translateX(0);
        box-shadow: 0 2px 8px 4px #00000055;

        animation: appear 0.5s ease-in-out;
      }

      .nav-item a {
        padding: 2px 12px;
        font-size: 18px;

        background-color: white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* SM: minimum viewport width 576px or above */
@media screen and (min-width: map.get(var.$breakpoints, 'sm')) {
  header .navbar {
    padding: 25px 40px;

    .nav-list {
      button.hamburger-btn {
        display: none;
      }

      .nav-items {
        padding: 0;
        flex-direction: row;
        width: auto;

        .nav-item a {
          font-size: initial;
        }
      }
    }
  }
}

/* MD: minimum viewport width 768px or above */
@media screen and (min-width: map.get(var.$breakpoints, 'md')) {
  header .navbar {
    .logo {
      font-size: 1.5rem;
    }

    .nav-list .nav-items {
      position: static;
      transform: translateX(0);
    }
  }
}

/* LG: minimum viewport width 992px or above */
@media screen and (min-width: map.get(var.$breakpoints, 'lg')) {
  header .navbar {
    padding: 30px 50px;
  }
}
