@use '../abstracts/variables' as var;
@use 'sass:map';

main .hero {
  padding-block: 14rem;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  & > * {
    padding: 16px;
  }

  .user-intro {
    .name {
      font-size: 2rem;
      font-weight: 800;
    }

    .title {
      font-size: 1.1rem;
      margin-block-start: 8px;
    }
  }

  .avatar img {
    width: 80%;
    display: block;
    margin-inline: auto;
  }
}

/* MD: minimum viewport width 768px or above */
@media screen and (min-width: map.get(var.$breakpoints, 'md')) {
  main .hero {
    flex-direction: row;

    .user-info {
      flex-grow: 1;
      flex-basis: 60%;
    }

    .avatar {
      flex-basis: 40%;
    }

    img {
      width: 100%;
    }
  }
}

/* LG: minimum viewport width 992px or above */
@media screen and (min-width: map.get(var.$breakpoints, 'lg')) {
  main .hero .user-intro .name {
    font-size: 3rem;
  }
}
